.logo{
    width: 250px;
    float: left;  
    margin-right: 400px;  
}
h1{
    text-align: left;
    font-size: 100px;
    color:rgb(62, 61, 68);
}
h2{padding-top:50px;
    text-align: left;
    color: rgb(211, 0, 0);
}

p{
    font-size:20px;
}
.col-5{
    font-size: 20px;
}
.col-2{
    font-size: 20px;
}
.col-8{
    font-size: 30px;
}
.col-12{
    font-size: 20px;
}